//Colores//
$primario:white;
$secundario: rgb(237, 236, 236);
$terciario: rgb(8, 148, 156);
$cuarto: rgb(156, 240, 169);
$quinto: black;

//Medidas//

$mediano: 100px;
$alto: 200px;
$gordo:400px;
$flaco:20px;
$bajo:50px;
$petiso:10px;

//letras//

$autos: 'Bebas Neue', cursive;
$bici:'Square Peg', cursive;











/*INICIO*/


.fondo{
    background-image: url('imagenes/fondo7.jpg');
    background-position: center;
    
    
            
        
}



/*Barra de navegacion*/


.img-logo{
    width: auto;
    height: auto;
    margin-left: $petiso +10;
}



.navbar-toggler-icon{
    color: $primario;
    font-family:'Bebas Neue', cursive; 
    width: 30px;
    height: 20px;
    
    
}


.navbar-toggler-icon:hover{
    color: $terciario;
}


.nav-item{
    font-size: $flaco;
    
}


.navbar{
    box-shadow: 4px 4px 7px rgb(8, 148, 156);
    background-color: $quinto;
    opacity: 80%;
}



.nav-link{
    color: $primario;
    margin-top: $flaco;
}

.nav-link:hover{
    color: $terciario;
}







/*Slogan*/


.SLOGAN{
    font-family:$bici;
    margin-top: $bajo;
   
     color: $terciario;
     font-size: $bajo; 
     

   
    }




    /*Presentacion hangar*/

    
    



    .carta-titulo {
        color: $cuarto;
        font-size: $bajo;
        font-family: $bici;
    }

    .carta-texto{
        color: $primario;
        font-family: $autos;
       font-size: 20px;
      
    }

    
























//footer// 

.ft{
    background-color:black;
    box-shadow: 0px 0px 8px rgb(246, 248, 245);
  

}

.ft-hangar{
    color: $secundario;
    font-size: 30px;
   
}




.ft-titulo{
    font-size: $autos ;
    color: $terciario;
}

.ft-texto{
    color: $primario;
   
}



//SECCION PRODUCTOS//




.prs{
    color: $primario;
    font-family: 'Libre Baskerville', serif;
    
    font-size: $bajo;
    padding: $flaco;
    
}



//cartas//






@mixin tuneo-carta {
   background-color: $secundario;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(107, 107, 107);
   padding: 20px;
   

    
    
}

.carta1{
    @include tuneo-carta;
  

}

.carta2{
    @include tuneo-carta;

}

.carta3{
    @include tuneo-carta;

}

.carta4{
    @include tuneo-carta;

}


.imgcarta2, .imgcarta4{
height: $alto +50;


}





.titulocarta{
    color: black;
   
    
}

.card-text{
    color: black;
    margin-top: 20px;
}

.card3, .card4{
    padding: 30px;
}




//SECCION DISTRIBUIDORES//

.fondo{
    height: 100%;
}






#portada{
    margin-left: $bajo;
    padding: $bajo +20;
}




.anclaflex1, .novoplack1, .acero1, .LP1{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    padding: 50px;
   
   
}

.titulo-ancla, .titulo-novo, .titulo-acero, .titulo-LP{
    margin-top: $bajo;
    font-family: $autos;
    color: $primario;
    text-align: left;
    margin-left: 15%;
    font-size: $bajo;
    

}

.img-ancla, .img-novo, .img-acero, .img-LP{
    height: 200px;
    width: 300px;
    box-shadow: 0px 0px 8px rgb(246, 248, 245);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
   

}

.texto-ancla, .texto-novo, .texto-acero, .texto-LP{
    color: $secundario;
    font-family: 'Oswald', sans-serif; ;
    text-transform: uppercase;
   padding:$flaco +10;
    font-size: $flaco  ;
    

   

}




//QUIENES SOMOS SECCION//

.fondoquienessomos{
    width: 100%;
    height: 100%;
    background-image: url(imagenes/fondo7.jpg);
}

.texto-quienes1{
    max-width: 1000px;
    width:100% ;
    
}


.texto-quienes{
    color: $secundario;
    font-family: 'Libre Baskerville', serif;
    
   padding:$flaco ;
    font-size: $flaco +10  ;


}



    


.img-nosotros{
    max-height: 50vh;
    aspect-ratio: 14/9;
    object-fit: cover;
    
    max-width: 120vh;
    
  
  

  
   
  

}


.prs-objetivos{
    color: $primario;
    text-transform: uppercase;
    font-family: $autos ;
    font-size: $bajo;
    padding: $flaco;
    margin-top: $bajo;
}

.texto-objetivos{
    color: $secundario;
    font-family: 'Libre Baskerville', serif;
    
   padding:$flaco ;
    
   

}


.mapas{
    height: 200px;
    width: 100px;
  
   

}



//SECCION CONTACTO//



   
.contacto-forma{
    padding: 5px;
   
    
}

.icono{
    color: $primario;
}